@font-face {
	font-family: 'Open Dyslexia';
	src: url('font/OpenDyslexic/Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: 'Open Dyslexia';
	src: url('font/OpenDyslexic/Italic.otf') format('opentype');
	font-weight: 400;
	font-style: italic
}
@font-face {
	font-family: 'Open Dyslexia';
	src: url('font/OpenDyslexic/Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal
}
@font-face {
	font-family: 'Open Dyslexia';
	src: url('font/OpenDyslexic/Bold-Italic.otf') format('opentype');
	font-weight: 700;
	font-style: italic
}
@font-face {
	font-family: 'Archivo';
	src: url('font/Archivo/VariableFont_wdth,wght.ttf') format('truetype');
	font-style: normal
}
@font-face {
	font-family: 'Archivo';
	src: url('font/Archivo/Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-style: italic
}
@font-face {
	font-family: 'Avenir Next Variable';
	src: url('font/AvenirNext/Variable.ttf') format('truetype');
}
@font-face {
	font-family: 'Noboto Flex';
	src: url('font/NobotoFlex/Variable.woff2');
	font-weight: 140;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #app {
	height: 100%;
	width: 100%;
}

html {
	/*
	For the color correction filters to work properly across browsers,
	the background must be set to a color.
	*/
	background-color: white;
}

body {
	color: #333;
	overflow-y: hidden; /* the jsdoc iframe overflows a bit */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0 0 0.5em 0;
}

h1 {
	font-size: 2em;
}

p {
	font-size: 1.1em;
}

a {
	color: inherit;
}

code {
	background-color: #f0f0f0;
	border-radius: 2px;
	color: #555;
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	padding: 0.2em 0.4em;
}

pre {
	background-color: var(--color-grey-lighter);
	border: 1px solid lightgrey;
	padding: 0.5rem;
}

.distancer {
	margin-bottom: 1rem;
}

:root {
	--color-font-light: white;
	--color-grey-lighter: #f7f7f7;
	--color-main: #6d426d;
	--color-selected: cadetblue;
	--color-sidebar-bkg: #f1feff;
	--dim-header-height: 3rem;
	--dim-main-height: calc(100% - var(--dim-header-height));
	--dim-padding-minor: 0.5rem;
	--dim-padding: 1rem;
	--dim-sidebar-width: 14rem;

	/* svelte-json-tree  */
	--json-tree-font-size: 1.1rem;
}

/* @media screen and (min-width: 768px) {
	:root {
	}
} */
